/* Contenu */
.layout {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: 0 100px;
    height: auto;
}

main {
    height: calc(100% - 68px);
    width: 100%;
    margin: auto;
    margin-top: 3%;

}

@media screen and (max-width: 1241px) {
    .layout {
        margin: 0px 20px;
    }


}